.contribution {
  color: white;
  text-align: center;
  margin-top: 10.41vw;
  @media (max-width: 991.98px) {
    // margin-top: 20.16vw;
  }

  h3 {
    font-size: 2.18vw;
    font-weight: 300;
    line-height: 2.5vw;
    @media (max-width: 991.98px) {
      font-size: 4.03vw;
      line-height: 4.83vw;
    }
  }
  p {
    font-size: 0.98vw;
    max-width: 59.47vw;
    margin: auto;
    margin-top: 1.3vw;
    line-height: 1.35vw;
    font-weight: 300;
    @media (max-width: 991.98px) {
      font-size: 1.91vw;
      margin-top: 2.52vw;
      line-height: 2.62vw;
      max-width: 115.12vw;
    }
  }
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.8vw; //50
    margin-top: 3.95vw;

    @media (max-width: 991.98px) {
      margin-top: 7.66vw;
    }
    .box {
      h2 {
        font-size: 4.16vw;
        font-weight: 300;
        @media (max-width: 991.98px) {
          font-size: 8.06vw;
        }
      }
      p {
        font-size: 1.04vw;
        @media (max-width: 991.98px) {
          font-size: 2.01vw;
          line-height: normal;
        }
      }
    }
  }
}
