@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.app {
  background: #000;
  padding: 7.64vw 13.12vw;
  @media (max-width: 575.98px) {
    padding: 10%;
  }
}